<<<<<<< HEAD

@import url(body);
@import url()
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  :root{
    ---greywhite: rgba( 255,255,255,0.5)
=======
/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  body {
    font-family: Inter, sans-serif;
    background-color: #7a7adb;
<<<<<<< HEAD
    background-image: -o-linear-gradient(173deg, #602f60 0%, #170e13 74%);
    background-image: linear-gradient(277deg, #602f60 0%, #170e13 74%);
    color: greenyellow;
=======
    background-image: linear-gradient(277deg, #602f60 0%, #170e13 74%);
    color: white;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
    min-height: 100vh;
  }
  
  header,
  main,
  footer {
    padding: 12px;
  }
  
  main,
  footer {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  header a,
  footer a {
    text-decoration: none;
    color: inherit;
  }
  
  /*
      MARK: Header
  */
  
  header {
<<<<<<< HEAD
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
=======
    justify-content: space-between;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  header .icon {
    width: 20px;
<<<<<<< HEAD
    -webkit-transition-duration: 2s;
         -o-transition-duration: 2s;
            transition-duration: 2s;
    cursor: pointer;
    
=======
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  header nav {
    gap: 12px;
  }
  
  @media screen and (max-width: 650px) {
    header p {
      display: none;
    }
  }
  
  /*
      MARK: Main
  */
  main {
<<<<<<< HEAD
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack:;
        -ms-flex-pack:;
            justify-content:
=======
    justify-content: space-between;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  /* Left  */
  .left {
<<<<<<< HEAD
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
=======
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  .left svg {
    height: 30px;
    color: white;
<<<<<<< HEAD
    fill:var(---greywhite);
=======
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  .left h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
  }
  
  .left .gradient {
<<<<<<< HEAD
    background: -o-radial-gradient(
      top left,
      circle,
      #099ef1 0%,
      #6863f8 18.82%,
      #d84ffa 32.6%,
      #f058c5 52.83%,
      #ff4f90 68.03%,
      #ff6558 87.66%,
      #ff891f 100%
    );
=======
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
    background: radial-gradient(
      circle at top left,
      #099ef1 0%,
      #6863f8 18.82%,
      #d84ffa 32.6%,
      #f058c5 52.83%,
      #ff4f90 68.03%,
      #ff6558 87.66%,
      #ff891f 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .left p {
    font-size: 20px;
    font-weight: 500;
  }
  
  .left button {
    padding: 10px 20px;
    font-size: 20px;
    background: whitesmoke;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
<<<<<<< HEAD
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    hover:white
=======
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  /* Right */
  .right {
<<<<<<< HEAD
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
=======
    flex-basis: 60%;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
  }
  
  .right video {
    width: 100%;
  }
  
  @media screen and (max-width: 650px) {
    main {
<<<<<<< HEAD
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
=======
      flex-direction: column;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
      gap: 40px;
    }
    .left {
      text-align: center;
<<<<<<< HEAD
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .left,
    .right {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
=======
      align-items: center;
    }
    .left,
    .right {
      flex-basis: 100%;
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
    }
  }
  
  /* 
      MARK: Footer 
  */
  footer {
    border-top: 1px solid rgba(255, 255, 255, 0.086);
  }
  
  /* 
      MARK: Utility 
  */
  .flex {
<<<<<<< HEAD
    display: -webkit-box;
    display: -ms-flexbox;
=======
>>>>>>> 0eebb8058e1603a68192b273f6e643c77e66b2c2
    display: flex;
  }